@font-face {
font-family: 'osaka-re';
font-style: normal;
font-weight: normal;
src: local('osaka-re'), url('osaka-re.woff') format('woff');
}

.App {
  text-align: center;
}

h4{
  font-family: osaka-re;
}


