.App-logo {
    height: 70px;
    -webkit-animation: rotation 15s infinite linear;
    z-index: -100;
}

.App-title {
  font-size: 48px;
  margin-top: 0px;
  background: -webkit-linear-gradient(#ffd700, #c88f1f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

