.App {
  text-align: center;
}

.App-logo {
    -webkit-animation: rotation 6s infinite linear;
    opacity: 0.1;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
       -webkit-transform-origin: 20% 20%;
    }
    to {
        -webkit-transform: rotate(-359deg);
        -webkit-transform-origin: 20% 20%;
    }
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
